.home {
  position: relative;
  text-align: center;
  background-color: #031124;
  /* Fundo escuro para criar contraste */
  color: #fffffd;
  /* Texto branco para melhor legibilidade */
  min-height: 100vh;
  /* Ocupa toda a altura da viewport */
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.frase {
  font-family: "Courier New", monospace;
  margin-left: 10%;
  /* Fonte com aspecto de código, sugerindo algo misterioso */
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  /* Cria um efeito de profundidade */
  animation: blink 1s infinite;
}

.background {
  position: absolute;
  opacity: 0.2;
  width: 40%;
  height: 40%;
  top: 0%;
  left: 50%;
}

.logo {
  animation: blink 60s infinite;
  width: 30%;
  height: 30%;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
